deploy-for-php-nginx-mysql/macos/*/mysql/*
!deploy-for-php-nginx-mysql/macos/*/mysql/.gitkeep
deploy-for-php-nginx-mysql/macos/*/certbot/*
!deploy-for-php-nginx-mysql/macos/*/certbot/.gitkeep

deploy-for-php-nginx-mysql/linux/*


deploy-for-php-nginx-mysql/certbot/*